.reg-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
}
.reg-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  padding: 30px 0;

  width: 450px;

  &__title {
    font-size: 2em;
    margin-bottom: 40px;
  }

  &__login {
  }

  &__pass {
  }

  &__repeat-pass {
  }

  &__input {
    position: relative;
    width: 70%;
    margin-bottom: 20px;

    & input {
      width: 100%;
      height: 35px;
      padding: 0 10px;
    }
  }
}
.reg-wrapper-buttons {
  display: flex;
  margin-top: 30px;
  &_login {
    margin-right: 2em;
  }

  &__submit {
  }
}

.required {
  &::after {
    content: "*";
    color: red;
    font-size: 1.5em;
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    font-family: sans-serif;
  }
}
