.reg-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
}
.reg-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  padding: 30px 0;

  width: 450px;

  &__title {
    font-size: 2em;
    margin-bottom: 40px;
  }

  &__login {
  }

  &__pass {
  }

  &__password-toggle {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    width: 24px;
    height: 24px;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.7;
    transition:
      opacity 0.2s ease,
      transform 0.1s ease;

    &:hover {
      opacity: 1;
    }

    &:active {
      transform: translateY(-50%) scale(0.95);
    }

    &_pass {
      img {
        width: 20px;
        height: 20px;
        opacity: inherit;
        transition: inherit;

        &.eye--open {
          transform: rotate(90deg);
        }
      }
    }

    &_repeat-pass {
      img {
        width: 20px;
        height: 20px;
        opacity: inherit;
        transition: inherit;

        &.eye--open {
          transform: rotate(90deg);
        }
      }
    }
  }

  &__input {
    position: relative;
    width: 70%;
    margin-bottom: 20px;

    & input {
      width: 100%;
      height: 35px;
      padding: 0 40px 0 10px;
    }
  }
}
.reg-wrapper-buttons {
  display: flex;
  margin-top: 30px;
  &_login {
    margin-right: 2em;
  }

  &__submit {
  }
}

.required-input {
  &::after {
    content: "*";
    color: red;
    font-size: 1.5em;
    position: absolute;
    right: -0.5em;
    top: 0.5em;
    transform: translateY(-50%);
    font-family: sans-serif;
  }
}
