.app-layout {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
}
.app-main {
  flex: 1;
  width: 100%;
  height: 100%;
}
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 1.2rem;
  color: #666;
}
