.info-content {
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: calc(100vh - 2 * var(--header-height));
  width: 100%;
  padding: 60px;

  font-size: 15px;
  font-family: "Rubik Mono One", monospace;
}
