@use "reset" as *;
@use "variables" as *;

@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap"); // font-family: "Righteous", sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap"); // font-family: "Rubik Mono One", monospace;


body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  overflow-x: hidden;
}
