:root {
  // Основной фон (60%) - чистый, свежий
  --bg-primary: #f1f5f9;
  // Карточки/Элементы (30%) - белый для объема
  --bg-secondary: #ffffff;
  // Акцентные плашки (10%) - темный антрацит
  --bg-accent: #1a1a1a;
  // Всплывающие поверхности/кнопки/поп-апы
  --surface: #edf2f7 ;
  // Элементы над surface
  --onSurface: #1a1a1a ;

  // Текст основной
  --text-primary: #1a1a1a;
  // Текст второй по важности
  --text-secondary: #e00345;
  // Редкий текст
  --text-accent: #2563eb ;
  // Текст над --bg-accent (для нормальной видимости)
  --text-onAccent: #ffffff ;
}

[data-theme="dark"] {
  // Глубокий графит (60%)
  --bg-primary: #121212;
  // Карточки (30%) - чуть светлее базы для объема
  --bg-secondary: #1e1e1e;
  // Акценты (10%) - агрессивный красный
  --bg-accent: #ff3131;
  // Всплывающие поверхности/кнопки/поп-апы
    --surface: #2d2d2d ;
  // Элементы над surface
  --onSurface: #e0e4d9 ;

  // Текст основной
  --text-primary: #e0e4d9;
  // Текст второй по важности
  --text-secondary: #c74a3b;
  // Редкий текст
  --text-accent: #ff3131 ;
  // Текст над --bg-accent (для нормальной видимости)
  --text-onAccent: #ffffff ;
}

:root,
[data-theme="dark"] {
  // Для переключателей
  --boolean-true: #6b8e23;
  --boolean-false: #c74a3b;

  // Высота шапки и подвала
  --header-height: 80px;
}
